<h1>Skapa en ticket</h1>

<form asp-action="CreateTicket" method="POST">
	Title: <input type="text" name="Title" /><br />
	Description: <input type="text" name="Description" /><br />
	Created by: <input type="text" name="Creator" /><br />
	<input type="submit" value="Create a ticket" /><br />

</form>