@model MVC.E_Commerce.Models.Product

<h1>@Html.DisplayFor(model => model.ProductName)</h1>

<span>Product description: </span> @Html.DisplayFor(model => model.ProductDescription)
<br />
<span>Price: $</span> @Html.DisplayFor(model => model.ProductPrice)


