@model List<Category>
<div class="position-relative">
    <div class="position-absolute top-0 end-0">
        @{
            Html.RenderPartial("/Views/Shared/_Cart.cshtml");
        }
    </div>
</div>

<h1>All categories</h1>

@foreach (Category Item in Model)
{
    @Html.DisplayFor(modelItem => Item.CategoryName)
    <br />
    <a class="btn btn-sm btn-info mt-1" asp-action="Details" asp-route-id="@Item.Id">View products</a>
    <hr />
}